{% extends 'main.html' %}


{% block content %}
{% if page == 'login' %}
<div>
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="username">Password</label>
            <input type="password" class="form-control" id="username" name="password" placeholder="Password">
        </div>
        <input type="submit" class="btn btn-primary" value="Login">
    </form>
    <p>Havent signed up</p>
    <a href="{% url 'register' %}">Register</a>
</div>
{% else %}

<div>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Register">
    </form>
    <p>Already signed up</p>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}
{% endblock content %}